*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    background-color: #ecf0f3;
}

.container{
    height: 450px;
    width: 330px;
    padding: 40px;
    border-radius: 20px;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
    overflow-y: auto;
}

#input{
    height: 50px;
    width: 100%;
    margin-bottom: 25px;
    padding: 20px 25px;
    outline: none;
    border: none;
    border-radius: 50px;
    color: black;
    box-shadow: inset 10px 10px 15px #c7c4c4, inset -10px -10px 15px #fff;
}

ul li{
    color: dodgerblue;
    height: 40px;
    margin: 10px 0;
    padding: 10px;
    position: relative;
    list-style: none;
    border-radius: 40px;
}

ul .fa-check, .fa-trash{
    position: absolute;
    cursor: pointer;
}

ul .fa-check{
    right: 40px;
    color: green;
}

ul .fa-trash{
    right: 15px;
    color: #ff0033;
}

ul .checked{
    color: black;
    background: lightgreen;
    text-decoration: line-through;
    transition: .2s;
}